{% trans_default_domain 'FOSUserBundle' %}

<div class="page-title">
    <div class="title_left">
        <h3>Mes informations</h3>
        <a href="{{ path('fos_user_profile_edit', {"id" : user.id}) }}" class="btn btn-success">Modifier</a>
    </div>
</div>

<div class="x_panel">

    <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="x_title">
            <h2>Mon compte</h2>
            <div class="clearfix"></div>
        </div>
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="x_title"><h2>Photo de profil</h2><div class="clearfix"></div></div>
        {% if user.image is not null %}
            <img src="{{ user.image.AssetPath|imagine_filter('my_thumb') }}" class='img-responsive' alt="{{ user.image.name }}" >
        {% else %}
            <img src="{{ "uploads/default.png"|imagine_filter('my_thumb') }}" alt="">
        {% endif %}
        <div class="x_title"><h3>Informations</h3></div>
        <p>Nombre d'artcile : ????</p>
    </div>
</div>
