{% extends '::layout/baseAdmin.html.twig' %}

{% block stylesheets %}

    <!-- Switchery -->
    <link href="{{ asset('assets/vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet">

{% endblock %}


{% block page_content %}

    <div class="page-title">
        <div class="title_left">
            <h3>Nouvelle catégorie</h3>
        </div>
    </div>

    <div class="x_panel">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-round btn-success">Valider</button>
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('admin_category_index') }}">Retour à la liste des catégories</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}

    <!-- Switchery -->
    <script src="{{ asset('assets/vendors/switchery/dist/switchery.min.js') }}"></script>

{% endblock %}