<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><i class="fa fa-paw"></i> <span>Administration</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">
                {#<img src="{{ asset('assets/images/img.jpg') }}" alt="..." class="img-circle profile_img">#}
            </div>
            <div class="profile_info">
                <span>Bienvenue, {{ app.user.username }}</span>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <div class="clearfix"></div>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            {% if is_granted('ROLE_ADMIN')%}
                <div class="menu_section">
                    <h3>Administration</h3>
                    <ul class="nav side-menu">
                        <li>
                            <a><i class="fa fa-user"></i> Utilisateurs <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a class="menu-item" href="#">Ajouter</a> </li>
                                <li><a class="menu-item" href="{{ path('admin_users') }}">Liste</a></l i>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endif %}

            <div class="menu_section">
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-book"></i> Articles <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a class="menu-item" href="{{ path('post_new') }}">Ajouter</a> </li>
                            <li><a class="menu-item" href="{{ path('post_index') }}">Liste</a></l i>
                        </ul>
                    </li>
                </ul>
            </div>

            categories : liste / new

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{ path('fos_user_security_logout') }}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>