<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav class="">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {% if app.user.image is not null %}
                            <img src="{{ app.user.image.AssetPath|imagine_filter('my_thumb_mini') }}" alt="{{ app.user.username }}" >
                        {% else %}
                            <img src="{{ "uploads/default.png"|imagine_filter('my_thumb_mini') }}" alt="">
                        {% endif %}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="{{ path('fos_user_profile_show') }}"> Profil</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->