{% extends '::layout/baseAdmin.html.twig' %}

{% block stylesheets %}

    <!-- Datatables -->
    <link href="{{ asset('assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">

{% endblock %}

{% block page_content %}
    <div class="page-title">
        <div class="title_left">
            <h3>Liste des utilisateurs</h3>
        </div>
    </div>

    <div class="x_panel">

        <div class="x_title">

            <a href="#" class="btn btn-success pull-right">Nouvel utilisateur</a>
            <h2>Liste des users</h2>
            <div class="clearfix"></div>
        </div>


        <table class="table table-striped table-hover" id="datatable">
            <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Email</th>
                <th>Rôle</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if "ROLE_ADMIN" not in user.roles %}
                    <tr>
                        <td>
                            {% if user.image is not null %}
                                <img src="{{ user.image.AssetPath|imagine_filter('my_thumb_mini') }}" class='img-responsive' alt="{{ user.image.name }}" >
                            {% else %}
                                <img src="{{ "uploads/default.png"|imagine_filter('my_thumb_mini') }}" alt="">
                            {% endif %}
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {#{% for role in user.roles %}#}
                            {#{{ role }}  {% if not loop.last %} - {% endif %}#}
                            {#{% endfor %}#}
                            <form action="{{ path('admin_user_addrole') }}" method="POST">
                                <select name="new_role" class="form-control">
                                    <option
                                            {% if "ROLE_AUTHOR"  in user.roles %} selected="selected" {% endif %}
                                            value="ROLE_AUTHOR">Auteur</option>
                                    <option
                                            {% if "ROLE_AUTHOR" not in user.roles %} selected="selected" {% endif %}
                                            value="ROLE_USER">Utilisateur</option>
                                </select>
                                <input type="hidden" value="{{ user.id }}" name="idUser">
                                <input type="submit" value="Modifier" class="btn btn-primary">
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Datatables -->
    <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendors/datatables.net-scroller/js/datatables.scroller.min.js') }}"></script>

    <script>
        $(document).ready(function() {

            $('#datatable').dataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                }
            } );

        });
    </script>
{% endblock %}