<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <title>{% block titre %}Blog Actu{% endblock %}</title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    {#<link rel="stylesheet" href="{{asset('assets/vendors/materialize/dist/css/materialize.min.css')}}" />#}
    <link rel="stylesheet" href="{{asset('css/font-awesome.css')}}" />

    {% stylesheets filter="scssphp" output="css/app.css"
    "assets/vendors/materialize/dist/css/materialize.css"
    "assets/scss/main.scss"
    "assets/css/style.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

</head>
<body>

<nav class="menu">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">My Blog</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="items hide-on-med-and-down">
            <li><a href="{{ path('post_category',{"slug" : "fashion"}) }}">Fashion</a></li>
            <li><a href="{{ path('post_category',{"slug" : "hight-tech"}) }}">Hight Tech</a></li>
            <li><a href="{{ path('post_category',{"slug" : "lifestyle"}) }}">Lifestyle</a></li>
            <li><a href="{{ path('post_category',{"slug" : "musique"}) }}">Musique</a></li>
            <li><a href="{{ path('post_category',{"slug" : "sciences"}) }}">Sciences</a></li>
            <li><a href="{{ path('post_category',{"slug" : "sport"}) }}">Sport</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="{{ path('post_category',{"slug" : "fashion"}) }}">Fashion</a></li>
            <li><a href="{{ path('post_category',{"slug" : "hight-tech"}) }}">Hight Tech</a></li>
            <li><a href="{{ path('post_category',{"slug" : "lifestyle"}) }}">Lifestyle</a></li>
            <li><a href="{{ path('post_category',{"slug" : "musique"}) }}">Musique</a></li>
            <li><a href="{{ path('post_category',{"slug" : "sciences"}) }}">Sciences</a></li>
            <li><a href="{{ path('post_category',{"slug" : "sport"}) }}">Sport</a></li>
        </ul>
    </div>
</nav>


{% block body %}{% endblock %}



<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5>Informations</h5>
                <p>Mettre du texte ici.</p>
            </div>
            <div class="col l4 s12">
                <h5>Réseaux Sociaux</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l4 s12">
                <h5>Nous contacter</h5>
                <p>Mettre du texte ici</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>&copy; Copyright {{"now"|date('Y')}} - Binet Julien</p>
        </div>
    </div>
</footer>


<script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ asset('assets/vendors/materialize/dist/js/materialize.min.js')}}"></script>
<script src="{{ asset('assets/js/main.js')}}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>