<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block titre %}Mon site - Admin{% endblock %}</title>
    <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{asset('css/bootstrap-theme.css')}}" />
    <link rel="stylesheet" href="{{asset('css/styleAdmin.css')}}" />
    <link rel="stylesheet" href="{{asset('css/font-awesome.css')}}" />
    <link rel="stylesheet" href="{{asset('css/bttn.css')}}" />
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{asset('css/custom.min.css')}}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>


<body class="nav-md">
<div class="container body">
    <div class="main_container">


        {% include '::admin/sidebar.html.twig' %}
        {% include '::admin/topnav.html.twig' %}


        <!-- page content -->
        <div class="right_col" role="main">
            {#<div class="">#}

                {% block page_content %}{% endblock %}

            {#</div>#}
        </div>
        <!-- /page content -->


        {% include 'admin/footer.html.twig' %}


    </div>
</div>


<script src="{{ asset('js/jquery.min.js')}}"></script>
<script src="{{ asset('js/bootstrap.min.js')}}"></script>
<script src="{{ asset('js/custom.min.js')}}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>