
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mon site | Connexion</title>

    <!-- Bootstrap -->
    <link href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{{ asset('assets/vendors/animate.css/animate.min.css') }}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ asset('css/custom.min.css') }}" rel="stylesheet">
</head>

<body class="login">
<div>

    {% trans_default_domain 'FOSUserBundle' %}

    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    {#<input type="hidden" name="_csrf_token" value="{{ csrf_token('csrf_token') }}" />#}
                    <h1>Connexion</h1>
                    <div>
                        <input type="text" class="form-control" required="required" placeholder="Nom d'utilisateur" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    <div>
                        <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Mot de passe" required="" />
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                        <a class="reset_pass" href="{{ path('fos_user_resetting_request') }}">Mot de passe perdu?</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Nouveau sur ce site?
                            <a href="#signup" class="to_register"> Créez votre compte </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> Mon Site!</h1>
                            <p>&copy; Copyright {{"now"|date('Y')}} - Binet Julien</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        <div id="register" class="animate form registration_form">
            <section class="login_content">


                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                <h1>Créez votre compte</h1>
                {{ form_widget(form) }}
                <div>
                    <input type="submit" class="btn btn-primary"  value="{{ 'registration.submit'|trans }}" />
                </div>
                {{ form_end(form) }}

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="change_link">Déjà membre ?
                            <a href="#signin" class="to_register"> Connexion </a>
                        </p>

                    <div class="clearfix"></div>
                    <br />

                    <div>
                        <h1><i class="fa fa-paw"></i> Mon Site!</h1>
                        <p>&copy; Copyright {{"now"|date('Y')}} - Binet Julien</p>
                    </div>
                    </div>



            </section>
        </div>
    </div>
</div>
</body>
</html>