{% extends '::layout/baseAdmin.html.twig' %}

{% block page_content %}
    <h1>Article : {{ post.title }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Modifié le </th>
                <td>{% if post.contentChanged %}{{ post.contentChanged|date('Y-m-d H:i:s') }}{% else %}{{ post.created|date('d/m/Y à H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
