{% extends '::layout/base.html.twig' %}

{% block title %} {{ parent() }} > {{ category.name }}{% endblock %}

{% block body %}
    <header class="category-header" style="background: url('../../{{ category.image.AssetPath }}') bottom center fixed; background-size:cover; ">
        <h1>{{ category.name }}</h1>
        <div class="overlay"></div>
    </header>

    <div class="container" id="category">
        <div class="row">
            {% for post in posts %}
                <article class="col s12 l4 list-post">
                    <a href="{{ path('post_show', {slug : post.slug}) }}" class="wrapper">
                        <img src="{{ post.image.AssetPath|imagine_filter('home_thumb') }}" class='responsive-img home-thumb' alt="{{ post.image.name }}" >
                        <h2 class="title">{{ post.title }}</h2>
                        <div class="valign-wrapper">
                            <p class="content valign">
                                {{ post.content|excerpt(30) }}
                            </p>
                        </div>
                    </a>
                    <div class="meta">
                        le {{ post.created | date('d/m/Y') }} par {{ post.idUser.username }}
                    </div>
                </article>
            {% endfor %}
        </div>


        <div class="navigation center">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>



{% endblock %}

