{% extends '::layout/baseAdmin.html.twig' %}

{% block stylesheets %}

    <!-- Datatables -->
    <link href="{{ asset('assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">

{% endblock %}

{% block page_content %}

<div class="page-title">
    <div class="title_left">
        <h3>Tags</h3>
    </div>
</div>

<div class="x_panel">

    <div class="x_title">

        <a href="{{ path('admin_tag_new') }}" class="btn btn-success pull-right">Nouveau Tag</a>
        <h2>Liste des tags</h2>
        <div class="clearfix"></div>
    </div>

    {% if tags %}

    <table class="table table-striped table-hover" id="datatable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Nombre d'articles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td><a href="{{ path('admin_tag_show', { 'id': tag.id }) }}">{{ tag.name }}</a></td>
                <td>{{ tag.posts|length }}</td>
                <td>
                    <a href="{{ path('admin_tag_show', { 'id': tag.id }) }}"><i class="fa fa-lg fa-eye"></i></a>
                    <a href="{{ path('admin_tag_edit', { 'id': tag.id }) }}"><i class="fa fa-lg fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Vous n'avez pas encore créé de tag.</p>
    {% endif %}

</div>

{% endblock %}

{% block javascripts %}
    {% if tags %}
        <!-- Datatables -->
        <script src="{{ asset('assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
        <script src="{{ asset('assets/vendors/datatables.net-scroller/js/datatables.scroller.min.js') }}"></script>

        <script>
            $(document).ready(function() {

                $('#datatable').dataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                    }
                } );

            });
        </script>
    {% endif %}
{% endblock %}
